body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    flex-direction: column;
    padding-right: 4px; /* Thêm 4px bên phải màn hình */
}

.menu {
    text-align: center;
}

#player-info {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh; /* Khoảng cách dựa trên chiều cao của viewport */
}

#player-info h2 {
    margin: 0 1vw; /* Giảm khoảng cách giữa các tiêu đề theo chiều rộng màn hình */
    font-size: 2vw; /* Kích thước chữ linh hoạt theo chiều rộng của viewport */
}

#player-info .active {
    color: red;
    font-size: 2vw; /* Giảm kích thước chữ cho phần tử đang hoạt động */
}

#grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 cột */
    grid-template-rows: repeat(9, 1fr); /* 9 hàng */
    gap: 1vw;
    margin: 0 auto;
    width: 80vw; /* Giới hạn chiều rộng theo viewport width */
    height: 70vh; /* Giới hạn chiều cao theo viewport height */
    transform-origin: top;
    padding-right: 4px; /* Thêm 4px vào phần lưới */
}

.hidden {
    display: none;
}

button {
    margin: 1vh;
    padding: 1vh 2vw; /* Kích thước padding linh hoạt theo chiều rộng và chiều cao màn hình */
    font-size: 1.5vw; /* Kích thước chữ linh hoạt */
    cursor: pointer;
}

.card {
    width: 100%; /* Đặt chiều rộng thẻ để chiếm toàn bộ ô lưới */
    height: 100%; /* Đặt chiều cao thẻ để chiếm toàn bộ ô lưới, tạo hình vuông */
    background-image: url('face-down/placeholder.jpg');
    background-size: cover;
    border: 1px solid #ccc;
    cursor: pointer;
}

.card.flipped {
    background-size: contain;
}

.game-controls {
    display: flex;
    justify-content: center;
    margin-top: 2vh; /* Khoảng cách dựa trên chiều cao màn hình */
}

#back {
    position: fixed;
    top: 2vh; /* Khoảng cách từ đỉnh dựa trên chiều cao màn hình */
    right: 2vw; /* Khoảng cách từ bên phải dựa trên chiều rộng màn hình */
    padding: 1vh 2vw;
    font-size: 1.5vw;
    cursor: pointer;
}
